{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["babel-plugin-styled-components", {"ssr": true}],
    "babel-plugin-graphql-tag",
    "babel-plugin-lodash"
  ]
}
